{% extends 'base.html.twig' %}

{% set action = app.request.attributes.get('_route') ends with '_new' ? 'Add' : 'Update' %}

{% block title %}
    {{ action }} movie
{% endblock %}

{% block body %}
    <h1>{{ action }} movie</h1>

    <hr>

    {{ include('movie/_form.html.twig', {'button_label': action}) }}
{% endblock %}
